@model EEducation.Model.Entities.Slider
@{
    ViewData["Title"] = "Update";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<form asp-area="Admin" asp-controller="Slider" asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" class="form-control" name="ID" value="@Model.ID" />
    <div class="form-group mb-3">
        <input type="text" class="form-control" name="SliderTitle" placeholder="Slider Başlığını Giriniz" value="@Model.SliderTitle">
    </div>
    <div class="form-group mb-3">
        <input type="text" class="form-control" name="SliderDescription" placeholder="Slider Kısa Açıklaması" value="@Model.SliderDescription">
    </div>
    <div class="form-group mb-3">
        <input type="text" class="form-control" name="ButtonName" placeholder="Buton Adını Giriniz" value="@Model.ButtonName">
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" name="ButtonUrl" placeholder="Buton Linkini Giriniz" value="@Model.ButtonUrl">
    </div>
    <div class="custom-file-container" data-upload-id="myFirstImage">
        <label>Upload (Single File) <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
        <label class="custom-file-container__custom-file">
             <input type="file" name="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*"> 
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            <span class="custom-file-container__custom-file__custom-file-control"></span>
        </label>
        <div class="custom-file-container__image-preview"></div>
    </div>


    <button type="submit" class="btn btn-primary mt-3">Güncelle</button>
</form>
